@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(211, 235, 246);
  font-family: "Mulish", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* 100vh here so that flexbox knows the
   full height of the page and can place content exactly in the middle of the screen. */
  height: 100vh;
  /* margin: 0; removes the default spacing.
Combined with height: 100vh;, body now truly fills
 the entire browser window without extra space, making centering
  and full-page layouts consistent across browsers. */
  margin: 0;
}

.container {
  text-align: center;
}

.progress {
  /* Places numbers in a row */
  display: flex;
  justify-content: space-evenly;

  list-style: none;
}
