@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --progress-active: #2dd4bf;
  --progress-active-hover: #5eead4;

  --progress-inactive: #8b7bb7;
  /* --progress-inactive-hover: #b9a8da; */

  /*Neutral colors*/
  --color-white: #fff;
  --color-white-transparent: rgba(255, 255, 255, 0.1);
  --color-grey: #4a4949;
}

* {
  box-sizing: border-box;
}

body {
  background: #0f0c29;
  background: linear-gradient(
    90deg,
    rgba(15, 12, 41, 1) 0%,
    rgba(48, 43, 99, 1) 50%,
    rgba(36, 36, 62, 1) 100%
  );
  font-family: "Mulish", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* 100vh here so that flexbox knows the
   full height of the page and can place content exactly in the middle of the screen. */
  height: 100vh;
  /* margin: 0; removes the default spacing.
Combined with height: 100vh;, body now truly fills
 the entire browser window without extra space, making centering
  and full-page layouts consistent across browsers. */
  margin: 0;
}
.container {
  position: relative;
  text-align: center;
  padding: 3rem 4rem;
  border-radius: 16px;
  overflow: hidden;
  z-index: 0;
  max-width: 700px;
  width: 95%;
  margin: 0 auto; /* center on page width-wise */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.container::before {
  content: "";
  position: absolute;
  inset: 0; /*full size of parent*/
  background-color: var(--color-white-transparent);
  border-radius: inherit;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  z-index: -1;
}

.progress-container {
  /*for positioning child elements absolutely inside it.*/
  /*without position: relative on .progress-container, 
  your connecting line might float in the wrong place on the page.*/
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 500px;
}

.progress-container::before {
  content: ""; /*to actually see content, set this to empty*/
  position: absolute;
  background: var(--progress-inactive);
  top: 50%;
  left: 20px; /* half of circle (40px/2) */
  right: 20px; /* same on the other end */
  transform: translateY(-50%); /*to position line write in the middle*/
  height: 4px; /*represent an empty line*/
  z-index: 1;
  margin-bottom: 10px;
}

.progress-line {
  position: absolute;
  background: var(--progress-active);
  top: 50%;
  left: 20px; /*same as ::before*/
  transform: translateY(-50%);
  height: 4px;
  width: 0%; /*zero is the starting point of the line*/
  z-index: 2;
  transition: 0.4s ease;
}

.progress {
  list-style: none;
  /* Places numbers in a row */
  display: flex;

  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.circle {
  background-color: var(--color-white);
  color: var(--color-grey);
  font-weight: bold;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid var(--progress-inactive);
  /*border will change deending on where the blue line is*/
  transition: 0.4s ease;
  z-index: 3;
}

.circle.active {
  border-color: var(--progress-active);
}

.btn {
  background-color: var(--progress-active);
  color: var(--color-white);
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: none;
}

button.btn:not(:disabled):hover {
  background-color: var(--progress-active-hover);
  color: var(--color-grey);
}

.btn:disabled {
  background-color: var(--progress-inactive);
  cursor: not-allowed;
}
